@font-face{
    font-family: "titre";
    src: url();
}

/*PAGE INDEX*/

.titre{
    color: #64b5f6;
}
.lireEvent{

}
.lireActu{
    

}
.titreActu{
    color: #64b5f6;
}
.titreEvent{
    color: #64b5f6;
}
.titreAnnon{
    
}
/*PAGE ANNONCE*/
.sect{
    border-bottom:0.5px solid #bbdefb ;
    margin-left:2%;
    margin-right:2%;
    padding-bottom: 0.5%;
    padding-top: 0.5%;
}
.date{
    float: right;
}